.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;

  & > * {
    margin: 20px !important;
  }
}

.field {
  background-color: #fff;
}

.loginOptions {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.registerOptions {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
}